// Colors
$colorDefault: #fff;
$colorPrimary: #fddd01;
$colorSecondary: #333d4c;
$colorInfo: #337ab7;
$colorSuccess: #67c23a;
$colorWarning: #feae0c;
$colorDanger: #f81e27;
$colorFocus: #6433a1;
$colorGrey: #adb1b7;
$colorGreyLight: #e5e8ef;
$colorGreyDark: #707781;
$colorInputBorderError: #ff473c;
$colorInputPrimary: #353d4c;
